version: 2
registries:
  k9-felles:
    type: maven-repository
    url: https://maven.pkg.github.com/navikt/k9-brukerdialog-prosessering
    username: x-access-token
    password: ${{secrets.READER_TOKEN}}

updates:
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: daily
    cooldown:
      default-days: 7
    groups:
      github:
        patterns:
          - "*"

  - package-ecosystem: gradle
    directory: "/"
    schedule:
      interval: daily
    registries:
      - k9-felles
    cooldown:
      default-days: 7
      exclude:
        - "no.nav.*"
    groups:
      gradle:
        patterns:
          - "*"

  - package-ecosystem: docker
    directory: "/"
    schedule:
      interval: daily
    cooldown:
      default-days: 7
