no.nav:
  security.jwt:
    client:
      registration:
        ### K9 Joark
        azure-k9-joark:
          token-endpoint-url: ${AZURE_OPENID_CONFIG_TOKEN_ENDPOINT}
          grant-type: client_credentials
          scope: ${K9_JOARK_SCOPE}
          authentication:
            client-auth-method: private_key_jwt
            client-id: ${AZURE_APP_CLIENT_ID}
            client-jwk: ${AZURE_APP_JWK}
        ### K9 Joark

        ### K9 Mellomlagring
        azure-k9-mellomlagring:
          token-endpoint-url: ${AZURE_OPENID_CONFIG_TOKEN_ENDPOINT}
          grant-type: client_credentials
          scope: ${K9_MELLOMLAGRING_SCOPE}
          authentication:
            client-auth-method: private_key_jwt
            client-id: ${AZURE_APP_CLIENT_ID}
            client-jwk: ${AZURE_APP_JWK}

        tokenx-k9-mellomlagring:
          token-endpoint-url: ${TOKEN_X_TOKEN_ENDPOINT}
          grant-type: urn:ietf:params:oauth:grant-type:token-exchange
          authentication:
            client-auth-method: private_key_jwt
            client-id: ${TOKEN_X_CLIENT_ID}
            client-jwk: ${TOKEN_X_PRIVATE_JWK}
          token-exchange:
            audience: ${K9_MELLOMLAGRING_TOKEN_X_AUDIENCE}
        ### K9 Mellomlagring

        ### K9 Sak Innsyn API
        tokenx-k9-sak-innsyn-api:
            token-endpoint-url: ${TOKEN_X_TOKEN_ENDPOINT}
            grant-type: urn:ietf:params:oauth:grant-type:token-exchange
            authentication:
                client-auth-method: private_key_jwt
                client-id: ${TOKEN_X_CLIENT_ID}
                client-jwk: ${TOKEN_X_PRIVATE_JWK}
            token-exchange:
                audience: ${K9_SAK_INNSYN_API_TOKEN_X_AUDIENCE}
        ### K9 Sak Innsyn API

  integration:
    k9-mellomlagring-base-url: ${K9_MELLOMLAGRING_BASE_URL}
    k9-joark-base-url: ${K9_JOARK_BASE_URL}
    k9-sak-innsyn-api-base-url: ${K9_SAK_INNSYN_API_BASE_URL}

  kafka:
    bootstrap-servers: ${KAFKA_BROKERS}
    application-id: ${KAFKA_STREAMS_APPLICATION_ID}
    retries: 2147483647 # Max int
    retry-backoff-ms: 5000 # 5 seconds
    replication-factor: 3
    streams:
      psb-soknad-preprosessering:
        application-id-suffix: psb-soknad-preprosessering
        auto-offset-reset: none
      psb-soknad-journalforing:
        application-id-suffix: psb-soknad-journalforing
        auto-offset-reset: none
      psb-soknad-cleanup:
        application-id-suffix: psb-soknad-cleanup-stream
        auto-offset-reset: none

      psb-endringsmelding-preprosessering:
        application-id-suffix: psb-endringsmelding-preprosessering
        auto-offset-reset: none
      psb-endringsmelding-journalforing:
        application-id-suffix: psb-endringsmelding-journalforing
        auto-offset-reset: none
      psb-endringsmelding-cleanup:
        application-id-suffix: psb-endringsmelding-cleanup
        auto-offset-reset: none

      pils-soknad-preprosessering:
        application-id-suffix: pils-soknad-preprosessering
        auto-offset-reset: none
      pils-soknad-journalforing:
        application-id-suffix: pils-soknad-journalforing
        auto-offset-reset: none
      pils-soknad-cleanup:
        application-id-suffix: pils-soknad-cleanup-stream
        auto-offset-reset: none

      ettersendelse-preprosessering:
        application-id-suffix: ettersendelse-preprosessering
        auto-offset-reset: none
      ettersendelse-journalforing:
        application-id-suffix: ettersendelse-journalforing
        auto-offset-reset: none
      ettersendelse-cleanup:
        application-id-suffix: ettersendelse-cleanup
        auto-offset-reset: none

      omp-utv-ks-preprosessering:
        application-id-suffix: omp-utv-ks-preprosessering
        auto-offset-reset: none
      omp-utv-ks-journalforing:
        application-id-suffix: omp-utv-ks-journalforing
        auto-offset-reset: none
      omp-utv-ks-cleanup:
        application-id-suffix: omp-utv-ks-cleanup
        auto-offset-reset: none

      omp-utb-at-preprosessering:
        application-id-suffix: omp-utb-at-preprosessering
        auto-offset-reset: none
      omp-utb-at-journalforing:
        application-id-suffix: omp-utb-at-journalforing
        auto-offset-reset: none
      omp-utb-at-cleanup:
        application-id-suffix: omp-utb-at-cleanup
        auto-offset-reset: none

      omp-utb-snf-preprosessering:
        application-id-suffix: omp-utb-snf-preprosessering
        auto-offset-reset: none
      omp-utb-snf-journalforing:
        application-id-suffix: omp-utb-snf-journalforing
        auto-offset-reset: none
      omp-utb-snf-cleanup:
        application-id-suffix: omp-utb-snf-cleanup
        auto-offset-reset: none

      omp-ma-preprosessering:
        application-id-suffix: omp-ma-preprosessering
        auto-offset-reset: none
      omp-ma-journalforing:
        application-id-suffix: omp-ma-journalforing
        auto-offset-reset: none
      omp-ma-cleanup:
        application-id-suffix: omp-ma-cleanup
        auto-offset-reset: none

      omp-ao-preprosessering:
        application-id-suffix: omp-ao-preprosessering
        auto-offset-reset: earliest
      omp-ao-journalforing:
        application-id-suffix: omp-ao-journalforing
        auto-offset-reset: earliest
      omp-ao-cleanup:
        application-id-suffix: omp-ao-cleanup
        auto-offset-reset: earliest

management:
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      base-path: /
      exposure:
        include: health, prometheus
      path-mapping:
        prometheus: /metrics
