no.nav:
  security.jwt:
    client:
      registration:
        azure-k9-joark:
          token-endpoint-url: ${AZURE_OPENID_CONFIG_TOKEN_ENDPOINT}
          grant-type: client_credentials
          scope: ${K9_JOARK_SCOPE}
          authentication:
            client-auth-method: private_key_jwt
            client-id: ${AZURE_APP_CLIENT_ID}
            client-jwk: ${AZURE_APP_JWK}
        azure-k9-mellomlagring:
          token-endpoint-url: ${AZURE_OPENID_CONFIG_TOKEN_ENDPOINT}
          grant-type: client_credentials
          scope: ${K9_MELLOMLAGRING_SCOPE}
          authentication:
            client-auth-method: private_key_jwt
            client-id: ${AZURE_APP_CLIENT_ID}
            client-jwk: ${AZURE_APP_JWK}

  integration:
    k9-mellomlagring-base-url: ${K9_MELLOMLAGRING_BASE_URL}
    k9-joark-base-url: ${K9_JOARK_BASE_URL}

  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS}
    application-id: ${KAFKA_STREAMS_APPLICATION_ID}
    retries: 2147483647 # Max int
    retry-backoff-ms: 5000 # 5 seconds
    replication-factor: 3
    streams:
      psb:
        application-id-suffix: psb-stream
        auto-offset-reset: latest
      omp:
        application-id-suffix: omp-stream
        auto-offset-reset: latest
    schema-registry:
      url: ${KAFKA_SCHEMA_REGISTRY_URL}
      user: ${KAFKA_SCHEMA_REGISTRY_USER}
      password: ${KAFKA_SCHEMA_REGISTRY_PASSWORD}
