<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                <!-- Se her for mer info: https://github.com/logfellow/logstash-logback-encoder#customizing-stack-traces -->
                <rootCauseFirst>true</rootCauseFirst>
                <maxDepthPerThrowable>512</maxDepthPerThrowable>
                <maxLength>50000</maxLength>
                <shortenedClassNameLength>20</shortenedClassNameLength>
                <omitCommonFrames>true</omitCommonFrames>
                <exclude>^sun\.reflect\..*\.invoke</exclude>
                <exclude>^net\.sf\.cglib\.proxy\.MethodProxy\.invoke</exclude>
                <exclude>java\.util\.concurrent\..*</exclude>
                <exclude>org\.apache\.catalina\..*</exclude>
                <exclude>org\.apache\.coyote\..*</exclude>
                <exclude>org\.apache\.tomcat\..*</exclude>
                <exclude>org\.springframework\.web\..*</exclude>
                <exclude>org\.apache\.kafka\..*</exclude>
            </throwableConverter>

            <jsonGeneratorDecorator class="net.logstash.logback.mask.MaskingJsonGeneratorDecorator">
                <valueMask>
                    <!--
                    Regex for å matche 11-sifret nummer.
                    (^|\W) – Matcher starten av strengen eller et ikke-alfanumerisk tegn, slik at vi ikke klipper av tall som ikke er en del av en 11-sifret sekvens.
                    (\d{4}) – Fanger de første 4 sifrene.
                    \d{7} – Matcher de resterende 7 sifrene.
                    (?=$|\W) – Sørger for at treffet slutter ved grensen av det 11-sifrede tallet, enten ved slutten av strengen eller etterfulgt av et ikke-alfanumerisk tegn.
                     -->
                    <value>(^|\W)(\d{4})\d{7}(?=$|\W)</value>

                    <!--
                    Behold de første 4 sifrene (dag og måned) og masker de resterende 7 sifrene.
                    $1 – Refererer til den første fangstgruppen (f.eks. separatoren eller starten).
                    $2 – Refererer til de første 4 fangede sifrene.
                    ******* – Erstatter resten av sifrene med stjerner.
                    -->
                    <mask>MASKERT FØDSELSNUMMER</mask>
                </valueMask>
            </jsonGeneratorDecorator>
        </encoder>
    </appender>

    <turboFilter class="ch.qos.logback.classic.turbo.MarkerFilter">
        <Name>CONFIDENTIAL_FILTER</Name>
        <Marker>CONFIDENTIAL</Marker>
        <OnMatch>DENY</OnMatch>
    </turboFilter>

    <root level="info">
        <appender-ref ref="stdout_json"/>
    </root>

    <logger name="no.nav.brukerdialog" level="trace"/>
    <logger name="org.apache" level="ERROR"/>

</configuration>
