<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                <!-- Se her for mer info: https://github.com/logfellow/logstash-logback-encoder#customizing-stack-traces -->
                <rootCauseFirst>true</rootCauseFirst>
                <maxDepthPerThrowable>512</maxDepthPerThrowable>
                <maxLength>15000</maxLength>
                <shortenedClassNameLength>20</shortenedClassNameLength>
                <omitCommonFrames>true</omitCommonFrames>
                <exclude>^sun\.reflect\..*\.invoke</exclude>
                <exclude>^net\.sf\.cglib\.proxy\.MethodProxy\.invoke</exclude>
                <exclude>java\.util\.concurrent\..*</exclude>
                <exclude>org\.apache\.catalina\..*</exclude>
                <exclude>org\.apache\.coyote\..*</exclude>
                <exclude>org\.apache\.tomcat\..*</exclude>
                <exclude>org\.springframework\.web\..*</exclude>
                <exclude>org\.apache\.kafka\..*</exclude>
            </throwableConverter>
        </encoder>
    </appender>

    <turboFilter class="ch.qos.logback.classic.turbo.MarkerFilter">
        <Name>CONFIDENTIAL_FILTER</Name>
        <Marker>CONFIDENTIAL</Marker>
        <OnMatch>DENY</OnMatch>
    </turboFilter>

    <root level="info">
        <appender-ref ref="stdout_json"/>
    </root>

    <logger name="no.nav.k9brukerdialogprosessering" level="trace"/>
    <logger name="org.apache" level="ERROR"/>

</configuration>
