<!DOCTYPE html>
<html lang="NO">

<head>
    <meta charset="UTF-8"/>
    <title>{{tittel}}</title>
    <meta name="subject" content="{{tittel}}"/>
    <meta name="author" content="nav.no"/>
    <meta name="description"
          content="Uleselig fil"/>
    {{#block 'style-common' }}
    {{/block}}
</head>

<body>
<h1 id="header">Uleselig fil</h1>
<div class="korrupt_fil">
    <h2>Mottatt fil kunne ikke leses. Vedlegget må lastes opp på nytt.</h2>
</div>

</body>

</html>
